#root {
  margin: 2rem 10rem;
}

.connect {
  float: right;
}

.pixelImg {
  margin: 1rem;
  display: inline-block;
  cursor: pointer;
}

.hide {
  display: none;
}

.mt-5 {
  margin-top: 5rem;
}

.result {
  text-align: center;
}

#loading {
  z-index: 999;
  background-color: #4c4945f7;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  display: flex;
}

#loading img {
  width: 400px;
  height: 400px;
  margin: auto;
}

.btn{
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #000;
  font-size: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-image: initial;
  padding: 0.5625rem 1.25rem;
  border-radius: 0.75rem;
  transition: color 0.25s ease-in-out 0s, background-color 0.25s ease-in-out 0s, border-color 0.25s ease-in-out 0s;
}

.colorpalette {
  margin-top: 18px;
  margin-bottom: 18px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.colorpalette .text {
  margin-right: 15px;
  margin-bottom: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.colorpalette .text button {
  margin-right: 16px;
  margin-bottom: 0px;
}

.colorpalette .icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.colorpalette .colorblock {
  margin-right: 2px;
  margin-bottom: 0px;
  margin-top: 6px;
  height: 25px;
  width: 25px !important;
  border: solid 0px white;
}

.colorpalette .ss-main {
  width: calc(100%);
  margin-top: 8px;
  max-width: 480px;
}

.colorpalette .ss-main .ss-single-selected {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc(100%);
  background-color: #ececec;
}

.colorpalette .ss-main .ss-option {
  margin-bottom: 6px;
}

.colorpalette .ss-main .ss-option:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.colorpalette .ss-content {
  width: 100%;
}

.colorpalette .ss-content .ss-list .ss-option {
  padding: 0px 10px;
}
